.education-background {
  background-color: black;
  width: 100%;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.education-left {
  width: 40%;
  height: 80vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}
.education-right {
  width: 40%;
  height: 80vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}
.experience {
  font-size: 27px;
  font-weight: 700;
  background: linear-gradient(45deg, white, rgba(41, 15, 66, 0.863));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.education-bottom {
  min-width: 80%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  border-radius: 7px;
  background-color: black;
}
.bottoms {
  background-color: rgb(26, 10, 41);
  height: 15vh;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
}
.bottoms P {
  font-size: 12px;
  font-weight: 500;
}
.bottoms h1 {
  font-size: 20px;
  font-weight: 500;
}
.bottoms span {
  font-size: 14px;
}
.mark {
  background-color: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
}
